/**
 *
 * vim:ts=2:sw=2:et:enc=utf-8:
 */
div.dokuwiki fieldset#blogtng__edit {
  margin: 0 0 0.5em 0;
  width: 99.5%;
  text-align: left;
}

div.dokuwiki div.blogtng_commentform {
  padding: 2em;
  width: 500px;
}

div.dokuwiki div.blogtng_commentform textarea {
  margin-bottom: 0.5em;
}

div.dokuwiki input.error,
div.dokuwiki textarea.error {
  background: #fcc !important;
}

div.dokuwiki ul.blogtng_tags {
  display: inline;
  margin: 0 0 1em;
}

div.dokuwiki ul.blogtng_tags li {
  display: inline;
  list-style-type: none;
}

div.dokuwiki ul.blogtng_tags li:after {
  content: ", ";
}

div.dokuwiki ul.blogtng_tags li:last-child:after {
  content: "" !important;
}
